<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    /* Style for the loading screen overlay */
    #loading-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      /* Background color of the overlay */
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
    }

    /* Style for the loading image */
    #loading-image {
      width: 200px;
      /* Adjust the width and height as needed */
      height: 200px;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PawfectPairs</title>
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/shining-monday" rel="stylesheet">
  <link href="https://www.dafontfree.net/embed/ZnJhbmtmdXJ0ZXItbWVkaXVtLXBsYWluJmRhdGEvNDgvZi80MzkxOC9GcmFua2Z1cnRlck1lZGl1bVBsYWluLm90Zg" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/eac6711083.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous"
    referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/app.css">
</head>

<body>