<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PawfectPairs</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/shining-monday" rel="stylesheet">
  <link href="https://www.dafontfree.net/embed/ZnJhbmtmdXJ0ZXItbWVkaXVtLXBsYWluJmRhdGEvNDgvZi80MzkxOC9GcmFua2Z1cnRlck1lZGl1bVBsYWluLm90Zg" rel="stylesheet" type="text/css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="css/landing.css"">

  </head>
  <body>
    <!-- NAV BAR -->

    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
          <img src="image/3 new.png" height="100" alt="">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#">Home</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  About
                </a>
                <ul class="dropdown-menu">
                   <li><a class="dropdown-item" href="#team">Team</a></li> <!-- me david and luis -->
                  <!-- <li><a class="dropdown-item" href="#contacts">Contacts</a></li> -->
                  <li><a class="dropdown-item" href="#testimonial">Testimonials</a></li>
                  <li><a class="dropdown-item" href="#faq">FAQ</a></li> <!-- EXPLAINS HOW THE WEBSITE WORKS -->
                </ul>
              </li>

              <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="/">Log in</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>



      <!-- CAROUSEL SECTION -->

      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="image/p4.jpg" class="d-block" alt="...">
            <div class="carousel-caption">
              <h5>Snub and Wag!</h5>
              <p>Every dog deserves a chance to find their perfect companion!<BR> whether you're a playful Pomeranian, a spirited Shih Tzu, or a majestic German Shepherd,<br> our website is tailor-made to help you sniff out your one true wag!</p>
              <p><a href="Login/register" class="btn btn-warning mt-3">Get Started!</a></p> <!-- Register Button -->
            </div>
          </div>
          <div class="carousel-item">
            <img src="image/p5.jpg" class="d-block" alt="...">
            <div class="carousel-caption">
              <h5>Ready to fetch some fun?</h5>
              <p>Join our vibrant community of canine singles and embark on an exciting journey of companionship!<br> We'll fetch you the most compatible matches! So, no more sniffing around aimlessly at the park <br>and we'll ensure you will find the perfect playmate who shares your favorite activities and treats!</p>
              <p><a href="#" class="btn btn-warning mt-3">Get Started!</a></p> <!-- Register Button -->
            </div>
          </div>
          <div class="carousel-item">
            <img src="image/p6.jpg" class="d-block" alt="...">
            <div class="carousel-caption">
              <h5>Paws up! Are you ready to go?</h5>
              <p>if you're ready to wag your tail with excitement and embark on an adventure in love, <br>sign up for PawfectPairs today! Unleash your romantic potential <br>and let the pawfect love story begin!</p>
              <p><a href="#" class="btn btn-warning mt-3">Get Started!</a></p> <!-- Register Button -->
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


      <section id="cta">
        <h1 class="beforetestimonial">Discover the Perfect Canine Companion for Your Furry Friend Today!</h1>
        <img src="image/Laptop Mockup Instagram Post (1080 × 700 px).png" alt="laptop-mockup">
      </section>

      <!-- TESTIMONIALS SECTION  -->

      <div id="testimonial" class="testimonial">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title py-2">Joshua</h3>
                    <p>"PawfectPairs has been a game-changer for my furry friend and me! The platform made it incredibly easy to find compatible matches based on our preferences. We've met some amazing dogs and their owners, and our playdates have turned into lifelong friendships. Thank you, PawfectPairs!"</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="card text-center">
                  <div class="card-body">
                      <h3 class="card-title py-2">Andee</h3>
                      <p>"PawfectPairs has been a game-changer for my furry friend and me! The platform made it incredibly easy to find compatible matches based on our preferences. We've met some amazing dogs and their owners, and our playdates have turned into lifelong friendships. Thank you, PawfectPairs!"</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title py-2">Gabriel</h3>
                        <p>"PawfectPairs made finding love for my dog a breeze. The site's algorithm provided us with accurate matches, and the messaging system allowed us to get to know each other before meeting in person. We're grateful to PawfectPairs for bringing joy and companionship into our lives."</p>
                      </div>
                    </div>
                  </div>

                <div class="col-lg-6">
                  <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title py-2">Beyonce</h3>
                        <p>"Being a single dog owner, it was challenging to find other dog lovers who understood the importance of compatibility between our pets. PawfectPairs exceeded my expectations by connecting me with dog owners who shared similar interests and values. My dog and I are thrilled with the connections we've made through this amazing platform!?"</p>
                      </div>
                    </div>
                  </div>

            </div>
        </div>
      </div>

      <!-- TEAM SECTION -->

      <section id="team" class="team section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-header text-center pb-5">
                <h2 class="the-team">The Team</h2>
              </div>
            </div>
          </div>
          <div class="row members">
            <div class="col-md-4">
              <div class="card text-center">
                <div class="card-body">
                  <img src="image/david.jpg" alt="" class="img-fluid rounded-circle">
                    <h3 class="card-title py-2">David Joshua Estrera</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quasi odio id soluta. Molestias eligendi, alias consequuntur quod doloremque animi harum a accusamus mollitia sapiente commodi quisquam quae eum consectetur.</p>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card text-center">
                  <div class="card-body">
                    <img src="image/sam.jpg" alt="" class="img-fluid rounded-circle">
                      <h3 class="card-title py-2">Isaiah Sam Pascual</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In quo eos iusto deleniti sit quod distinctio necessitatibus, architecto quae veniam ad eveniet dolorem ducimus libero minima possimus hic molestias at?</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="card text-center">
                    <div class="card-body">
                      <img src="image/luis2.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Luis Gabriel Roxas</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse alias cumque eum voluptatibus ullam, ex pariatur ea soluta sit quaerat veniam enim tempora, porro labore voluptatem, maxime reprehenderit harum ipsa?</p>
                      </div>
                    </div>
                  </div>

            </div>
          </div>
        </div>
      </section>

      <!-- footer -->

      <footer class="bg-dark p-2 text-center">
        <div class="container">
          <p class="text-white">All Rights Reserved @PawfectPairs</p>
        </div>
      </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
