<%- include('partials/loginheader'); -%>

    <div class="container-fluid d-flex justify-content-center align-items-start" style="gap: 10vh; padding-top: 20vh;">

        <div class="proj-bg-white mr-4 mb-4 shadow p-3 mb-5 rounded w-25">
            <h1 class="text-center mb-2 sub-font proj-text-orange">Account Has Been Created. Time to get Wagging!</h1>
            </div>
            <p class="text-center text-muted mt-3 mb-0 sub-font">Have already an account? <a href="/"
                    class="fw-bold text-body"><u>Login here</u></a></p>

        </div>


    </div>

<%- include('partials/loginfooter'); -%>
